
i:hover {
  cursor: pointer;
}

#card-grid{
  height: 100%;
  overflow-y: scroll;
}

#card-grid > [class*="col-"] {
margin-bottom: 20px;
}


.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 10px;
}


.category {
  background-color: slateblue;
  border-radius: 15px;
}



.card{
  margin: 20px;
  height: 90%;
  overflow: hidden;
  border-radius: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

@media only screen and (max-width: 600px) {
  /* .card-columns{
    height: 100%;
  } */
  .category-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 10px;
  }
  /* .card{
    max-height: 75%;
  } */
}