input{
    color:white;
}


.btn.btn-radio:hover,.btn.btn-radio:focus{color:white;}

.btn.btn-radio {background-color : slategrey; color:white;}
input[type="radio"]:checked + label {
    background-color: slateblue;
    color:white;
  }